<h2>投稿一覧</h2>
  <% if post_images.exists? %>
    <div class="row card-wrapper">
      <% post_images.each do |post_image| %>
        <div class ="mr-2 mb-2 card">
          <div class="card-header">
            <%= link_to post_image.title, post_image_path(post_image), class: "text-reset text-decoration-none" %>
          </div>
            <%= link_to post_image_path(post_image) do %>
              <%= image_tag post_image.image, size: "200x150" %>
            <% end %>
            コメント<%= post_image.post_comments.count %>件
            いいね数<%= post_image.favorites.count %>
        </div>
      <% end %>
    </div>
    <%= paginate post_images, theme: 'twitter-bootstrap-4'%>
  <% else %>
    <p class="font-weight-bold" style="font-size: 20px;">※投稿はありません</p>
  <% end %>