<div class="seach container" style="padding-top: 150px;">
  <div class="row">
    <table class="table table-hover shadow-lg">
      <thead class="table-success">
        <tr>
          <th></th>
          <th>名前</th>
          <th><i class="fa-solid fa-users"></i>フォロー</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% customers.each do |customer| %>
        <tr>
          <td>
            <% if customer.profile_image.attached? %>
             <%= image_tag customer.profile_image, size: "100x100", class: "profile_image" %>
            <% else %>
             <%= image_tag "majan", size: "100x100", class: "profile_image" %>
            <% end %>
          </td>
          <td><%= link_to customer.name, customer_path(customer) %></td>
          <td>
             フォロー<%= customer.followings.count %>人<br>
             フォロワー<%= customer.followers.count %>人
          </td>
          <td>
            <% if current_customer.following?(customer) %>
              <%= link_to customer_relationships_path(customer), method: :delete,  class: "btn btn-light border border-dark" do %>
              外す<i class="fa-solid fa-user-check"></i>
              <% end %>
            <% else %>
              <%= link_to "フォローする", customer_relationships_path(customer), method: :post, class: "btn btn-primary" %>
            <% end %>
          </td>
          <td>
            <% if current_customer != customer && current_customer.following?(customer) && customer.following?(current_customer) %>
              <%= link_to "メッセージを送る", chat_path(customer.id), class: "btn btn-light border border-dark" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
