<div class="container">
  <div class="row">
    <div class="m-5 mx-auto">
      <h2><%= image_tag "hatu", size: "70x70" %>プロフィールを編集<%= image_tag "hatu", size: "70x70" %></h2>
        <%= form_with model: @customer, url: {controller: 'public/customers', action: 'update' } do |f| %>
          <div class="form-group">
            <%= f.label :id, "会員ID" %>
            <%= @customer.id %>
          </div>
          <div class="form-group">
            <%= f.label :name, "名前" %>
            <%= f.text_field :name %>
          </div>
          <div class="form-group">
            <%= f.label :profile_image, "画像" %>
            <%= f.file_field :profile_image, accept: "image/*" %>
          </div>
          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email %>
          </div>
          <%= f.submit "変更" %>
        <% end %>
    </div>
  </div>
</div>