<div class="container" style="padding-top: 100px;">
  <div class="row">
    <div class="edit p-5 m-5 mx-auto shadow-lg rounded">
      <h2><%= image_tag "hatu", size: "70x70" %>プロフィールを編集<%= image_tag "hatu", size: "70x70" %></h2>
      <%= render "layouts/errors", obj: @customer %>
        <%= form_with model: @customer, url: {controller: 'public/customers', action: 'update' } do |f| %>
          <div class="form-group row">
            <%= f.label :id, "会員ID", class: "col-4" %>
            <%= @customer.id %>
          </div>
          <div class="form-group row">
            <%= f.label :name, "名前", class: "col-4" %>
            <%= f.text_field :name %>
          </div>
          <div class="form-group row">
            <%= f.label :profile_image, "画像", class: "col-4" %>
            <%= f.file_field :profile_image, accept: "image/*", class: "col-8" %>
          </div>
          <div class="form-group row">
            <%= f.label :email, "メールアドレス", class: "col-4" %>
            <%= f.email_field :email %>
          </div>
          <div class="pt-5 text-center">
           <%= f.submit "変更を保存" %>
          </div>
        <% end %>
        <div class="text-right">
          <%= link_to "退会する", unsubscribe_path(current_customer), class: "mt-3 btn btn-danger btn-sm" %>
        </div>
    </div>
  </div>
</div>