<div class="mt-4 container">
  <div class="row">
    <div class="col-md-9">
      <h2>
        <% if @customer.profile_image.attached? %>
         <%= image_tag @customer.profile_image, size: "100x100", class: "profile_image" %>
        <% else %>
         <%= image_tag "majan", size: "100x100", class: "profile_image" %>
        <% end %>
      </h2>
      <table class="table" width="100">
        <tr class="row">
          <th class="col-3">ユーザーID</th>
          <td class="col-2"><%= @customer.id %></td>
        </tr>
        <tr class="row">
          <th class="col-3">名前</th>
          <td class="col-2"><%= @customer.name %></td>
        </tr>
      </table>
        <% if current_customer %>
         <%= link_to edit_customers_path, class: "btn btn-secondary" do %>
           編集
         <% end %>
        <% end %>
    </div>
  </div>
</div>
