<div class="mt-4 container" style="padding-top: 100px;">
  <% if notice %>
   <p id="notice" class="text-center"><%= notice %></p>
  <% end %>
  <div class="row">
    <div class="show p-3 col-md-4 shadow-lg rounded px-0 my-5">
      <h1>
        <% if current_customer == @customer %>
         <%= image_tag "senten", size: "50x50" %>マイページ<%= image_tag "senten", size: "50x50" %>
        <% else %>
         <%= image_tag "senten", size: "50x50" %><%= @customer.name %>さん<%= image_tag "senten", size: "50x50" %>
        <% end %>
      </h1>
      <h2>
        <% if @customer.profile_image.attached? %>
         <%= image_tag @customer.profile_image, size: "100x100", class: "profile_image" %>
        <% else %>
         <%= image_tag "majan", size: "100x100", class: "profile_image" %>
        <% end %>
      </h2>
      <table class="table" width="100">
        <tr>
          <th>ユーザーID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th>
            <%= link_to customer_followings_path(@customer), class: "text-reset" do %>
             フォロー中
            <% end %>
          </th>
          <td>
            <%= link_to customer_followings_path(@customer), class: "text-reset" do %>
             <%= @customer.followings.count %>人
            <% end %>
          </td>
        </tr>
        <tr>
          <th>
            <%= link_to customer_followers_path(@customer), class: "text-reset" do %>
             フォロワー
            <% end %>
          </th>
          <td>
            <%= link_to customer_followers_path(@customer), class: "text-reset" do %>
             <%= @customer.followers.count %>人
            <% end %>
          </td>
        </tr>
      </table>
       <%= render "public/relationships/follow", customer: @customer %>
    </div>
    <div class="offset-1 col-md-7">
      <%= render "index", post_images: @post_images %>
    </div>
  </div>
</div>
