<div class="mt-4 container">
  <div class="row">
    <div class="show p-3 col-md-4 shadow-lg rounded px-0 my-5">
      <h1>
        <% if current_customer == @customer %>
         <%= image_tag "senten", size: "70x70" %>マイページ<%= image_tag "senten", size: "70x70" %>
        <% else %>
         <%= image_tag "senten", size: "70x70" %><%= @customer.name %>さん<%= image_tag "senten", size: "70x70" %>
        <% end %>
      </h1>
      <h2>
        <% if @customer.profile_image.attached? %>
         <%= image_tag @customer.profile_image, size: "100x100", class: "profile_image" %>
        <% else %>
         <%= image_tag "majan", size: "100x100", class: "profile_image" %>
        <% end %>
      </h2>
      <table class="table" width="100">
        <tr>
          <th>ユーザーID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @customer.name %></td>
        </tr>
      </table>
        <% if current_customer == @customer %>
          <% if @customer.name != "guestuser" %>
            <%= link_to edit_customers_path, class: "col-5 btn btn-secondary btn-block" do %>
             <i class="fas fa-user-cog"></i>編集
            <% end %>
          <% end %>
        <% end %>
    </div>
    <div class="offset-2">
      <%= render "index", post_images: @post_images %>
    </div>
  </div>
</div>
