<div class="index" style="padding-top: 130px;">
  <div class="container">
    <div class="row">
      <h2 class="col-md-12 mx-auto">検索ワード：<%= @content %></h2>
      <div class="mt-3 mx-auto">
          <% post_images.each do |post_image| %>
            <div class="mb-4 card" style="border-radius: 1em; width: 472px;">
              <div class="card-header">
                <%= link_to customer_path(post_image.customer.id) do %>
                  <% if post_image.customer.profile_image.attached? %>
                    <%= image_tag post_image.customer.profile_image, size: "45x45" %>
                  <% else %>
                    <%= image_tag "majan", size: "45x45", class: "profile_image" %>
                  <% end %>
                <% end %>
                <%= link_to post_image.title, post_image_path(post_image), class: "ml-4 text-reset text-decoration-none" %>
              </div>
                <%= link_to post_image_path(post_image) do %>
                  <%= image_tag post_image.image, size: "470x450" %>
                <% end %>
              <div class="card-body">
                <%= post_image.body.truncate(29) %>
                  <% if post_image.body.size >= 29 %>
                      <%= link_to post_image_path(post_image.id) do %>
                         <p>続きを読む</p>
                    <% end %>
                  <% end %><br>
                 コメント<%= post_image.post_comments.count %>件
                   <% if post_image.favorited_by?(current_customer) %>
                       <i class="fa-solid fa-heart" style="color: red;"></i>
                   <% else %>
                        <i class="fa-regular fa-heart"></i>
                   <% end %>
                <span id="favorite_count_<%= post_image.id %>">
                   <%= render "public/favorites/count", post_image: post_image %>
                </span>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>