<div class="mt-4 container" style="padding-top: 50px;">
  <div class="row">
    <div class="show p-3 col-md-4 shadow-lg rounded px-0 my-5">
      <h1>
        <% if current_customer == @customer %>
         <%= image_tag "senten", size: "50x50" %>マイページ<%= image_tag "senten", size: "50x50" %>
        <% else %>
         <%= image_tag "senten", size: "50x50" %><%= @customer.name %>さん<%= image_tag "senten", size: "50x50" %>
        <% end %>
      </h1>
      <h2>
        <% if @customer.profile_image.attached? %>
         <%= image_tag @customer.profile_image, size: "100x100", class: "profile_image" %>
        <% else %>
         <%= image_tag "majan", size: "100x100", class: "profile_image" %>
        <% end %>
      </h2>
      <table class="table" width="100">
        <tr>
          <th>ユーザーID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @customer.is_deleted %>
             退会
            <% else %>
             <span class="text-success font-weight-bold">有効</span>
            <% end %>
          </td>
        </tr>
      </table>
      <%= link_to "変更", edit_admin_customer_path(@customer), class: "btn btn-primary" %>
    </div>
    <div class="offset-1 col-md-7">
      <%= render "index", post_images: @post_images %>
    </div>
  </div>
</div>
