<div class="chat container" style="padding-top: 100px;">
  <div class="row">
    <div class="mx-auto">
      <h2 id="room" date-room="<%= @room.id %>" date-customer="<%= @customer.id %>">
        <% if @customer.profile_image.attached? %>
         <%= image_tag @customer.profile_image, size: "50x50", class: "mr-lg-3" %>
        <% else %>
         <%= image_tag "majan", size: "50x50", class: "mr-lg-3" %>
        <% end %>
        <%= @customer.name %>さん
      </h2>

      <div class="message" style="width: 500px;">
　　　　　　<%= render "public/chats/message", chats: @chats %>
      </div>
       <%= form_with model: @chat, local: false do |f| %>
          <%= f.text_field :message, class: "mt-2 chat_field" %>
          <%= f.hidden_field :room_id %>
          <%= f.submit "送信", class: "text-primary" %>
       <% end %>
    </div>
  </div>
</div>