<div class="chat container" style="padding-top: 100px;">
  <div class="row">
    <div class="mx-auto">
      <h2 id="room" date-room="<%= @room.id %>" date-customer="<%= @customer.id %>">
        <%= image_tag @customer.profile_image, size: "50x50", class: "mr-lg-3" %><%= @customer.name %>さん
      </h2>

      <div class="message border border-secondary" style="width: 500px; height: 500px;">
        <% @chats.each do |chat| %>
          <% if chat.customer_id == current_customer.id %>
            <P style="text-align: right;"><span class="chat-right"><%= chat.message %></span></P>
          <% else %>
            <P style="text-align: left;"><span class="chat-left"><%= chat.message %></span></P>
          <% end %>
        <% end %>
      </div>
       <%= form_with model: @chat, local: false do |f| %>
          <%= f.text_field :message, class: "mt-2 chat_field" %>
          <%= f.hidden_field :room_id %>
          <%= f.submit "送信", class: "text-primary" %>
       <% end %>
    </div>
  </div>
</div>