<div class="container" style="padding-top:100px;">
  <% visiter = notification.visiter %>
  <% post_image = notification.post_image %>

<div class="user-view clearfix ">
  <%= link_to customer_path(notification.visiter) do %>
    <% if notification.visiter.profile_image.attached? %>
     <%= image_tag notification.visiter.profile_image, size: "100x100", class: "profile_image" %>
    <% else %>
     <%= image_tag "majan", size: "100x100", class: "profile_image" %>
    <% end %>
  <% end %>
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
  <br>
  <% if !@comment.nil? %>
    <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
  <% end %>
</div>
</div>