<header class="fixed-top shadow-sm login_header">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #006633; height: 80px;">
    <div class="container">
     <a class="navbar-brand ml-5" href="/about" style="font-size:24px; color: #ffffff;">Nanikiru</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <%= render "public/searchs/form" %>
        <ul class="navbar-nav ml-auto">
        <li class="nav-item text-light">
           <%= link_to post_images_path, class: "nav-item text-light" do %>
            投稿一覧
           <% end %>
        </li>
        <li>
           <%= link_to customer_path(current_customer), class: "nav-item text-light" do %>
             マイページ
           <% end %>
        </li>
        <li class="nav-item text-light">
           <%= link_to new_post_image_path, class: "nav-item text-light" do %>
             投稿フォーム
           <% end %>
        </li>
        <li>
          <%= link_to destroy_customer_session_path, method: :delete, class: "nav-item text-light" do %>
             ログアウト
          <% end %>
        </li>
        </ul>
      </div>
    </div>
  </nav>
</header>